@use "../partials" as *; //* - namespace, as * - take all name spaces from the folder "partials"


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}


html {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight;
    overflow-y: scroll;
}

a {
    text-decoration: none;
}