$color-primary: #EFEFEF;
$color-secondary: white;
$color-list: #828282;

$link-primary-color: black;

$border-primary-color: #F13C6E;
$border-bottom: 1px solid #EFEFEF;
$border-botton-call: 2px solid $border-primary-color;
