$font-size-mini: 12px;
$font-size: 14px;
$font-size-middle: 16px;
$font-size-large: 18px;
$font-family: "Roboto", sans-serif;
$font-weight: 400;
$font-weight-middle: 500;
$font-weight-large: 700;
$line-height: 20px;

$container-width: 1110px;
$gap-small: 20px;
$gap-medium: 30px;
$gap-large: 40px;
$sections-padding-top: 140px;


